
a{
  color:#27E1C1
}

a:hover{
  color:#F5F3C1
}
.main{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
/*Sidebar:*/
.sidebar{
  background-color: #F5F3C1;
}

/*Footer:*/
.footer{
  padding: 40px;
  background-color: #2F0F5D;
  color:white;
  display:flex;
  justify-content: space-between;
}

.footer_icon{
 padding: 15px;
}