
a{
  color:red
}

a:hover{
  color:#F5F3C1
}
.main{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
/*Header:*/
@keyframes rockAndRoll {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}

.header{
  background-color: black;
  color:#F5F3C1;
  text-align: center;
  padding: 20px;
}

.header h1{
  padding: 10px;
  animation-name: rockAndRoll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*Sidebar:*/
.sidebar{
  background-color: #F5F3C1;
  padding: 10px;
}
.sidebar div{
  padding: 10px 0;
  border-bottom: 2px dotted;
  display: flex;
}
/*Footer:*/
.footer{
  padding: 40px;
  background-color: black;
  color:white;
  display:flex;
  justify-content: space-between;
}

.footer_icon{
 padding: 15px;
}